table {
    font-family: Verdana;
    font-size: 14px;
    border-collapse: collapse;
    width: 600px;
  }
  
  td, th {
    padding: 10px;
    text-align: left;
    margin: 0;
  }
  
  tbody tr:nth-child(2n){
    background-color: #eee;
  }
  
  th {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
  }
a{
    color: rgb(0, 0, 0);
}